.app {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.edit-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form-section-title {
  font-size: 30px;
  text-align: center;
}

.add-form-button {
  border: 0px;
  border-radius: 10px;
  background-color: var(--accent-bg-color);
  width: 150px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
