.collapsed-form {
  background-color: var(--accent-bg-color);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.collapsed-form-button,
.hide-section-button {
  border-width: 0px;

  font-weight: bold;
  cursor: pointer;
}

.collapsed-form-button {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.hide-section-button {
  border-radius: 10px;
  background-color: var(--main-bg-color);
  font-size: 15px;
  padding: 5px;
  width: 100%;
  max-width: 100px;
}
