.education-form,
.experience-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--accent-bg-color);
  padding: 15px;
  border-radius: 20px;
}

.dates {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
