.education-form,
.experience-form {
  background-color: var(--accent-bg-color);
  padding: 15px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.dates {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
