input {
  border: 0px;
  background-color: var(--main-bg-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optional-text,
.recommended-text {
  font-size: 13px;
  color: gray;
  margin-left: 10px;
}

.label-text {
  font-weight: 600;
  font-size: 16px;
}
