.personal-details-form {
  background-color: var(--accent-bg-color);
  padding: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 600px;
}

.personal-details-title {
  font-size: 30px;
}
