.resume {
  max-width: 800px;
  width: 100%;
  aspect-ratio: 8 / 11;
  background-color: var(--resume-bg-color);
  box-shadow:
    rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
  line-height: 1.5;
}

.resume-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
}

.section-title {
  text-align: center;
  background-color: var(--main-bg-color);
  font-size: 20px;
  padding: 5px;
}

.section-position-degree {
  font-style: italic;
}

.section-description {
  font-size: 17px;
}
