.resume-name {
  font-size: 40px;
}

.resume-header {
  text-align: center;
  background-color: var(--resume-accent-color);
  color: var(--resume-bg-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-contact-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
